:root {
  --red-600: #b02a37;
  --red-200: #f1aeb5;
  --secondary: #6c757d;
  --secondary-light: #abb5be;

  --bs-navbar-brand-font-size: 4rem;

  --font-family-sans-serif: "Red Hat Mono", monospace;
  --display-font-family: "Silkscreen", sans-serif;
}

$display-font-family: "Silkscreen", sans-serif;
$font-family-sans-serif: "Red Hat Mono", monospace;

$primary: #b02a37;

.create-listing-banner {
  background-color: black;
  background-image: url(../../images/banner-bg.jpg);
  background-position: center;
  background-size: cover;
  max-height: 300px;
  min-height: 215px;
  border-bottom: 1px solid white;
}

input,
form .btn {
  height: 36px;
}

.logo-link {
  max-height: 60px;
  font-family: var(--display-font-family);
  font-size: 40px;
  font-weight: 700  ;
  color: white;
  text-decoration: none;
  padding: none;
  padding-right: 16px;

}

header {
margin-bottom: 72px;
border-bottom: 1px solid white;
}

main {
  margin-top: 72px;
}

.form-select {
  height: 36px;
  max-width: 300px;
}

.thick-shadow {
  box-shadow: 6px 6px 0px 0px black;
}

.thick-shadow:hover {
  box-shadow: 6px 6px 0px 0px var(--red-600);
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
.btn-large {
  box-shadow: 4px 4px 0px 0px var(--red-600);
  background-color: white;
  height: max-content;
  width: max-content;
}

.btn-large:hover {
  box-shadow: none;
  background-color: var(--red-600);
  color: white;
}
