:root {
  --red-600: #b02a37;
  --red-200: #f1aeb5;
  --secondary: #6c757d;
  --secondary-light: #abb5be;

  --bs-navbar-brand-font-size: 4rem;

  --font-family-sans-serif: "Red Hat Mono", monospace;
  --display-font-family: "Silkscreen", sans-serif;
}

$display-font-family: "Silkscreen", sans-serif;
$font-family-sans-serif: "Red Hat Mono", monospace;

$primary: #8ACE00;
$primary-dark: #5E8C00;

.create-listing-banner {
  background-color: black;
  background-image: url(../../images/banner-bg.jpg);
  background-position: center;
  background-size: cover;
  max-height: 300px;
  min-height: 215px;
  border-bottom: 1px solid white;
}

input,
form .btn {
  height: 36px;
}

.logo-link {
  max-height: 60px;
  font-family: var(--display-font-family);
  font-size: 40px;
  font-weight: 700  ;
  color: $primary;
  text-decoration: none;
  padding: none;
  padding-right: 16px;

}

header {
margin-bottom: 72px;
border-bottom: 1px solid white;
}

main {
  margin-top: 72px;
}

.form-select {
  height: 36px;
  max-width: fit-content;
}

.thick-shadow {
  box-shadow: 6px 6px 0px 0px black;
}

.thick-shadow-no-hover{
  box-shadow: 6px 6px 0px 0px black;
}

.thick-shadow-red{
    box-shadow: 6px 6px 0px 0px $primary;
  }

.thick-shadow:hover {
  box-shadow: 6px 6px 0px 0px $primary;
  transition: ease-in-out 0.2s;
}

.shadow-subtle{
    box-shadow: -2px 2px 4px 0px black;
}

.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.avatar-mini {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin-right: 12px;
  border: 1px solid black;
}

.avatar-nav{
    border-radius: 50%;
    height: 72px;
    width: 72px;
    border: 2px solid white;
    margin: 0px;
}

.avatar-nav:hover{
    border: 2px solid $primary;
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;

}

#auction-card{
    scroll-margin-top: 120px; 
}


@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.btn-large {
  box-shadow: 4px 4px 0px 0px $primary;
  background-color: white;
  height: max-content;
  width: max-content;
}

.btn-large:hover {
  box-shadow: none;
  background-color: $primary;
  color: black;
  transition: ease-in-out 0.2s;
}
